<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/built/css/common.min.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-ng-controller="navCtrl">
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Main</a>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" ng-show="hasPermission([2,3,4,5])">CSR<span  class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="/SO#/main" ng-show="hasPermission([2,3,4,5])">SO</a>
                    </li>
                    <li>
                        <a href="/SO#/serviceGroup" ng-show="hasPermission([6])">Service Group</a>
                    </li>
                    <!-- <li>
                    <a href="/SO#/statistic">Statistic</a>
                </li> -->
                </ul>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" ng-show="hasPermission([7,8,9,10,11,12,13,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,33])">Documentation<span  class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="/SI#/cargoMain" ng-show="hasPermission([7,8,9,10,11,12,13])">SI Cargo Input</a>
                    </li>
                    <li>
                        <a href="/SI#/freightListMain" ng-show="hasPermission([24,25,26,27,28,29,30])">SI Freight List</a>
                    </li>
                    <li>
                        <a href="/SI#/freightInputMain" ng-show="hasPermission([17,18,19,20,21,22,23])">SI Freight Input</a>
                    </li>
                    <li>
                        <a href="/SI#/vesselSchedule" ng-show="hasPermission([31])">Vessel Schedule</a>
                    </li>
                    <li>
                        <a href="/SI#/serviceGroup" ng-show="hasPermission([11,21,28])">Service Group</a>
                    </li>
                    <li>
                        <a href="/SI#/eqOpCharge" ng-show="hasPermission([22])">Eq Op Charge</a>
                    </li>
                    <li>
                        <a href="/SI#/submissionTips" ng-show="hasPermission([33])">Submission Tips</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Report<span  class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="/report#/SIReport">SI Report</a>
                    </li>
                    <li>
                        <a href="/report#/SOReport">SO Report</a>
                    </li>
                    <li>
                        <a href="/report#/ReportGenerator">Report Generator</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Permission System<span  class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="/main#/Permission/Group">Group</a>
                        <a href="/main#/Permission/ModifyPermission" ng-show="hasPermission([14])">Permission</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/user#/userSetting">{{userInfo.loginName}}</a>
            </li>
            <li>
                <a href='/main/logout' style="margin-right: 50px;">Log out</a>
            </li>
        </ul>
    </nav>
    <div id="test"></div>
    <script type="text/javascript" src="/built/js/test.js" charset="utf-8"></script>
</body>

</html>
